.searchcontainer {
    margin-top: 30px;
}
.history {
    margin-right: 5px;
}
.tt-dropdown-menu {
    overflow: contain;
    padding-top: 0;
    padding-bottom: 0;
}

.tt-suggestion {
    border-bottom: 1px solid #000;
    margin: -5px -15px 5px -15px;
    padding: 5px 15px 5px 15px;
}
.tt-suggestion:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}
.tt-suggestion:hover {
    background: #008;
    color: #fff;
    cursor: pointer;
}

.resultcontainer p.result {
    margin: 0;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #aaa;
}
.resultcontainer p.result:nth-child(even) {
    background: #f9f9f9;
}
.resultcontainer p.result:nth-child(odd) {
    background: #fff;
}
.resultcontainer p.result:last-child {
    border-bottom: 0 solid;
}
.resultcontainer p.result:hover {
    background: #f5f5f5;
}

.uls-trigger {
    float: right;
}
